body {
    background-color: lightyellow;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

@media only creen and (min-width: 600px) {      /*by default, in other words, if width is at least 600px, applied 30% */
    p {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media only screen and (max-width:800px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width:600px) {
    body {
        background-color: lightpink;
    }
}

@media only screen and (max-width:500px) {
    body {
        background-color: lightcoral;
    }
}

@media only screen and (max-width:300px) {
    body {
        background-color: black;
        color: white;
    }
}